html {
  overflow: hidden;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at center -60px, #467fa5, #06273d);
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 100;
  font-size: 10rem;
  margin: 0;
}

.clock .show-seconds {
  font-size: 0.75em;
  opacity: 0.75;
}
